
  <div class="content">

      <div class="row">

          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="card-title">Tabla dinamica</h4>
                <p class="card-category">Con bubble de eventos</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">

                    <thead class="">
                        <tr>

                        </tr>
                    </thead>
                 
                    <tbody>
                      
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Galeria dinamica</h4>
                  <p class="card-category">Porque tiene onda</p>
                </div>
                <div class="card-body">

                  <div class="row">

                    <div class="col-md-6 col-lg-4"> 
                      
                        <div class="card">
                            <img class="card-img-top" src="assets/img/bg/forest-bg.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>

                    </div>

                    <div class="col-md-6 col-lg-4"> 
                      
                        <div class="card">
                            <img class="card-img-top" src="assets/img/bg/val-vesa.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>

                       </div>

                    </div>
                    
                    <div class="col-md-6 col-lg-4">  
                      
                        <div class="card">
                            <img class="card-img-top" src="assets/img/bg/stephanie-krist.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>

                        </div>
            
                    </div>

                  </div>

                </div>
              </div>

          </div>

      </div>
  </div>

     